table tr td {
  border-radius: 8px;
}
.table thead th {
  border-radius: 8px;
}
.table {
  text-align: center;
  font-size: 65px;
}
.table-success {
  border: 1.5px dashed green;
  border-radius: 8px;
}
.table-danger {
  border: 1.5px dashed firebrick;
  border-radius: 8px;
}